:root{
    --sum: red;
    --current: blue;
    --axis: skyblue;
}

svg.diagram {
    stroke: black;
    stroke-width: .3%;
    transform: scaleY(-1);
}

#sum {
    stroke: var(--sum);
}

.arrowed{
    marker-end: url(#arrow);
}


table#ledger th, table#ledger td{
    font-family: monospace;
    text-align: right;
}

th.sum, td.sum{
    color: var(--sum);
}

.axis{
    fill: None;
    stroke: var(--axis);
    stroke-width: .2%;
}

line.current{
    stroke: var(--current);
}

th.current, td.current{
    color: var(--current);
}

.grid{
    fill: None;
    stroke: lightblue;
    stroke-width: .05%;
}

svg.diagram text.axis {
    font-size: .6px;
    stroke: var(--axis);
    fill: var(--axis);
}
